<h1>All Our Flats</h1>


<div class="cards">
  <% @flats.each do |flat| %>
  <div class="card-trip">
    <img src="https://source.unsplash.com/300x200/?appartment,house" />
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to flat.name, flat_path(flat)%></h2>
          <p><%= flat.address %></p>
          <p><%= flat.description %></p>
          <p><%= flat.price_per_night %></p>
          <p><%= flat.number_of_guests %></p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
<% end %>
</div>
